BasketballApp/Service References/BasketballService/Servicebasketball.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicebasketball" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2181/Servicebasketball.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2181/Servicebasketball.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2181/Servicebasketball.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBasketball" />
      <xsd:import schemaLocation="http://localhost:2181/Servicebasketball.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicebasketball_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_UpdateXmlStats_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateXmlStats" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_UpdateXmlStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateXmlStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_SendXmltoDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:SendXmltoDatabase" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_SendXmltoDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendXmltoDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetTodayMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodayMatches" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetTodayMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodayMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetHomeRoster_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeRoster" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetHomeRoster_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeRosterResponse" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetAwayRoster_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAwayRoster" />
  </wsdl:message>
  <wsdl:message name="IServicebasketball_GetAwayRoster_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAwayRosterResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicebasketball">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/GetData" message="tns:IServicebasketball_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/GetDataResponse" message="tns:IServicebasketball_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/GetDataUsingDataContract" message="tns:IServicebasketball_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/GetDataUsingDataContractResponse" message="tns:IServicebasketball_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/Validate" message="tns:IServicebasketball_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/ValidateResponse" message="tns:IServicebasketball_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateXmlStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/UpdateXmlStats" message="tns:IServicebasketball_UpdateXmlStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/UpdateXmlStatsResponse" message="tns:IServicebasketball_UpdateXmlStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendXmltoDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/SendXmltoDatabase" message="tns:IServicebasketball_SendXmltoDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/SendXmltoDatabaseResponse" message="tns:IServicebasketball_SendXmltoDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodayMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/GetTodayMatches" message="tns:IServicebasketball_GetTodayMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/GetTodayMatchesResponse" message="tns:IServicebasketball_GetTodayMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHomeRoster">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/GetHomeRoster" message="tns:IServicebasketball_GetHomeRoster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/GetHomeRosterResponse" message="tns:IServicebasketball_GetHomeRoster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAwayRoster">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicebasketball/GetAwayRoster" message="tns:IServicebasketball_GetAwayRoster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicebasketball/GetAwayRosterResponse" message="tns:IServicebasketball_GetAwayRoster_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicebasketball" type="tns:IServicebasketball">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateXmlStats">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/UpdateXmlStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendXmltoDatabase">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/SendXmltoDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodayMatches">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/GetTodayMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomeRoster">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/GetHomeRoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwayRoster">
      <soap:operation soapAction="http://tempuri.org/IServicebasketball/GetAwayRoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicebasketball">
    <wsdl:port name="BasicHttpBinding_IServicebasketball" binding="tns:BasicHttpBinding_IServicebasketball">
      <soap:address location="http://localhost:2181/Servicebasketball.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>